<a href="https://colab.research.google.com/github/s0ku00/DTS/blob/main/Data_pre_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
# Load the dataset, display the ten first lines, store the results in a variable called 'client_0_bills'.
import pandas as pd

from sklearn.preprocessing import LabelEncoder

df = pd.read_csv('/STEG_BILLING_HISTORY.csv')

client_0_bills = df.head(10)

print (client_0_bills)

<ipython-input-43-6a71b88d8ae8>:6: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/STEG_BILLING_HISTORY.csv')

        client_id invoice_date  tarif_type  counter_number counter_statue  \
0  train_Client_0   2014-03-24          11       1335667.0              0
1  train_Client_0   2013-03-29          11       1335667.0              0
2  train_Client_0   2015-03-23          11       1335667.0              0
3  train_Client_0   2015-07-13          11       1335667.0              0
4  train_Client_0   2016-11-17          11       1335667.0              0
5  train_Client_0   2017-07-17          11       1335667.0              0
6  train_Client_0   2018-12-07          11       1335667.0              0
7  train_Client_0   2019-03-19          11       1335667.0              0
8  train_Client_0   2011-07-22          11       1335667.0              0
9  train_Client_0   2011-11-22          11       1335667.0              0

   counter_code  reading_remarque  counter_coefficient  consommation_level_1  \
0           203               8.0                    1                    82
1           203               6.0                    1                  1200
2           203               8.0                    1                   123
3           207               8.0                    1                   102
4           207               9.0                    1                   572
5           207               9.0                    1                   314
6           207               9.0                    1                   541
7           207               9.0                    1                   585
8           203               9.0                    1                  1200
9           203               6.0                    1                  1082

   consommation_level_2  consommation_level_3  consommation_level_4  \
0                     0                     0                     0
1                   184                     0                     0
2                     0                     0                     0
3                     0                     0                     0
4                     0                     0                     0
5                     0                     0                     0
6                     0                     0                     0
7                     0                     0                     0
8                   186                     0                     0
9                     0                     0                     0

   old_index  new_index  months_number counter_type
0      14302      14384              4         ELEC
1      12294      13678              4         ELEC
2      14624      14747              4         ELEC
3      14747      14849              4         ELEC
4      15066      15638             12         ELEC
5      15638      15952              8         ELEC
6      15952      16493             12         ELEC
7      16493      17078              8         ELEC
8       7770       9156              4         ELEC
9       9156      10238              4         ELEC

In [44]:
# What is the data type of the 'client_0_bills' variable
client_0_bills = df.head(10)
print(type(client_0_bills))

<class 'pandas.core.frame.DataFrame'>

In [30]:
# General information about the dataset
print(df.info(),'\n')

print ('Total Data columns : 15 columns')
print ('Number of Categorical features in the dataset : 3')
print ( 'Memory usage : 252.5+ MB')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2915299 entries, 0 to 2915298
Data columns (total 16 columns):
 #   Column                Dtype
---  ------                -----
 0   client_id             object
 1   invoice_date          object
 2   tarif_type            int64
 3   counter_number        float64
 4   counter_statue        object
 5   counter_code          float64
 6   reading_remarque      float64
 7   counter_coefficient   float64
 8   consommation_level_1  float64
 9   consommation_level_2  float64
 10  consommation_level_3  float64
 11  consommation_level_4  float64
 12  old_index             float64
 13  new_index             float64
 14  months_number         float64
 15  counter_type          object
dtypes: float64(11), int64(1), object(4)
memory usage: 355.9+ MB
None

Total Data columns : 15 columns
Number of Categorical features in the dataset : 3
Memory usage : 252.5+ MB

In [31]:
missing_values = df.isnull().sum()

print("Columns with missing values:")
print(missing_values)

Columns with missing values:
client_id                  0
invoice_date               0
tarif_type                 0
counter_number            28
counter_statue             1
counter_code               1
reading_remarque        2913
counter_coefficient        1
consommation_level_1       1
consommation_level_2       1
consommation_level_3       1
consommation_level_4       1
old_index                  1
new_index                  1
months_number              1
counter_type               1
dtype: int64

In [32]:
if df.isnull().values.any():
    print("There are missing values in the dataset.")
else:
    print("There are no missing values in the dataset.")

missing_values = df.isnull().sum()
print(missing_values)

There are missing values in the dataset.
client_id                  0
invoice_date               0
tarif_type                 0
counter_number            28
counter_statue             1
counter_code               1
reading_remarque        2913
counter_coefficient        1
consommation_level_1       1
consommation_level_2       1
consommation_level_3       1
consommation_level_4       1
old_index                  1
new_index                  1
months_number              1
counter_type               1
dtype: int64

In [33]:
''' Handling missing values

1.  Dropping rows or columns: If the missing values are relatively few and do not significantly impact the dataset
2.  Imputation: Fill missing values with a statistical measure such as mean, median, or mode.

'''

numeric_cols = df.select_dtypes(include=['float64', 'int64']).columns
categorical_cols = df.select_dtypes(include=['object']).columns

# Fill numeric columns with the mean
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].mean())

# Fill categorical columns with the mode
df[categorical_cols] = df[categorical_cols].fillna(df[categorical_cols].mode().iloc[0])

In [20]:
# Descriptive analysis on numeric features
numeric_cols = df.select_dtypes(include=['float64', 'int64'])
descriptive_stats = numeric_cols.describe()
print(descriptive_stats)

          tarif_type  counter_number  counter_statue   counter_code  \
count  283274.000000    2.832740e+05   283274.000000  283274.000000
mean       20.122895    1.071841e+11        0.040286     171.656234
std        13.464735    1.528642e+12        0.365499     132.932284
min         8.000000    0.000000e+00        0.000000       5.000000
25%        11.000000    1.214388e+05        0.000000       5.000000
50%        11.000000    4.933900e+05        0.000000     203.000000
75%        40.000000    1.124834e+06        0.000000     207.000000
max        45.000000    2.738110e+13        5.000000     565.000000

       reading_remarque  counter_coefficient  consommation_level_1  \
count     283274.000000        283274.000000         283274.000000
mean           7.314778             0.999996            404.931826
std            1.359868             0.004971            569.106567
min            6.000000             0.000000              0.000000
25%            6.000000             1.000000             78.000000
50%            6.000000             1.000000            270.000000
75%            9.000000             1.000000            600.000000
max            9.000000             3.000000          93385.000000

       consommation_level_2  consommation_level_3  consommation_level_4  \
count         283274.000000         283274.000000         283274.000000
mean             106.843717             20.625942             56.002277
std              874.029309            232.999109           1286.875274
min                0.000000              0.000000              0.000000
25%                0.000000              0.000000              0.000000
50%                0.000000              0.000000              0.000000
75%                0.000000              0.000000              0.000000
max           209952.000000          45360.000000         343568.000000

          old_index     new_index  months_number
count  2.832740e+05  2.832740e+05  283274.000000
mean   1.754340e+04  1.809809e+04      24.721442
std    4.279144e+04  4.345837e+04    1010.086156
min    0.000000e+00  0.000000e+00       1.000000
25%    1.775000e+03  2.042000e+03       4.000000
50%    7.602000e+03  8.086000e+03       4.000000
75%    2.152150e+04  2.218600e+04       4.000000
max    2.800280e+06  2.870972e+06   99104.000000

In [40]:
# Select the bills records for the client with an id ='train_Client_0', using 2 methods

# Using boolean indexing
client_records_1 = df[df['client_id'] == 'train_Client_0']
print("Records for client 'train_Client_0' using boolean indexing:")
print(client_records_1)

# Using query method
client_records_2 = df.query("client_id == 'train_Client_0'")
print("Records for client 'train_Client_0' using query method:")
print(client_records_2)

Records for client 'train_Client_0' using boolean indexing:
         client_id invoice_date  tarif_type  counter_number counter_statue  \
0   train_Client_0   2014-03-24          11       1335667.0              0
1   train_Client_0   2013-03-29          11       1335667.0              0
2   train_Client_0   2015-03-23          11       1335667.0              0
3   train_Client_0   2015-07-13          11       1335667.0              0
4   train_Client_0   2016-11-17          11       1335667.0              0
5   train_Client_0   2017-07-17          11       1335667.0              0
6   train_Client_0   2018-12-07          11       1335667.0              0
7   train_Client_0   2019-03-19          11       1335667.0              0
8   train_Client_0   2011-07-22          11       1335667.0              0
9   train_Client_0   2011-11-22          11       1335667.0              0
10  train_Client_0   2008-11-25          11       1335667.0              0
11  train_Client_0   2012-07-23          11       1335667.0              0
12  train_Client_0   2012-11-29          11       1335667.0              0
13  train_Client_0   2013-07-22          11       1335667.0              0
14  train_Client_0   2014-07-18          11       1335667.0              0
15  train_Client_0   2014-11-24          11       1335667.0              0
16  train_Client_0   2015-11-18          11       1335667.0              0
17  train_Client_0   2012-03-27          11       1335667.0              0
18  train_Client_0   2011-03-30          11       1335667.0              0
19  train_Client_0   2013-02-12          11       1335667.0              0
20  train_Client_0   2010-07-22          11       1335667.0              0
21  train_Client_0   2010-11-24          11       1335667.0              0
22  train_Client_0   2005-10-17          11       1335667.0              0
23  train_Client_0   2006-02-24          11       1335667.0              0
24  train_Client_0   2006-06-23          11       1335667.0              0
25  train_Client_0   2006-10-18          11       1335667.0              0
26  train_Client_0   2007-06-27          11       1335667.0              0
27  train_Client_0   2007-10-25          11       1335667.0              0
28  train_Client_0   2007-02-26          11       1335667.0              0
29  train_Client_0   2008-07-28          11       1335667.0              0
30  train_Client_0   2009-01-04          11       1335667.0              0
31  train_Client_0   2009-07-27          11       1335667.0              0
32  train_Client_0   2009-11-24          11       1335667.0              0
33  train_Client_0   2010-03-29          11       1335667.0              0
34  train_Client_0   2008-01-04          11       1335667.0              0

    counter_code  reading_remarque  counter_coefficient  consommation_level_1  \
0            203               8.0                    1                    82
1            203               6.0                    1                  1200
2            203               8.0                    1                   123
3            207               8.0                    1                   102
4            207               9.0                    1                   572
5            207               9.0                    1                   314
6            207               9.0                    1                   541
7            207               9.0                    1                   585
8            203               9.0                    1                  1200
9            203               6.0                    1                  1082
10           203               6.0                    1                   174
11           203               6.0                    1                   628
12           203               6.0                    1                   886
13           203               8.0                    1                   147
14           203               8.0                    1                    99
15           203               8.0                    1                   141
16           207               9.0                    1                   217
17           203               8.0                    1                   292
18           203               6.0                    1                   497
19           203               8.0                    1                    38
20           203               6.0                    1                   278
21           203               6.0                    1                   234
22           203               6.0                    1                   124
23           203               6.0                    1                   141
24           203               6.0                    1                   162
25           203               6.0                    1                   159
26           203               6.0                    1                   240
27           203               6.0                    1                   276
28           203               6.0                    1                   182
29           203               6.0                    1                   171
30           203               6.0                    1                   315
31           203               6.0                    1                   312
32           203               6.0                    1                   267
33           203               6.0                    1                   276
34           203               6.0                    1                   277

    consommation_level_2  consommation_level_3  consommation_level_4  \
0                      0                     0                     0
1                    184                     0                     0
2                      0                     0                     0
3                      0                     0                     0
4                      0                     0                     0
5                      0                     0                     0
6                      0                     0                     0
7                      0                     0                     0
8                    186                     0                     0
9                      0                     0                     0
10                     0                     0                     0
11                     0                     0                     0
12                     0                     0                     0
13                     0                     0                     0
14                     0                     0                     0
15                     0                     0                     0
16                     0                     0                     0
17                     0                     0                     0
18                     0                     0                     0
19                     0                     0                     0
20                     0                     0                     0
21                     0                     0                     0
22                     0                     0                     0
23                     0                     0                     0
24                     0                     0                     0
25                     0                     0                     0
26                     0                     0                     0
27                     0                     0                     0
28                     0                     0                     0
29                     0                     0                     0
30                     0                     0                     0
31                     0                     0                     0
32                     0                     0                     0
33                     0                     0                     0
34                     0                     0                     0

    old_index  new_index  months_number counter_type
0       14302      14384              4         ELEC
1       12294      13678              4         ELEC
2       14624      14747              4         ELEC
3       14747      14849              4         ELEC
4       15066      15638             12         ELEC
5       15638      15952              8         ELEC
6       15952      16493             12         ELEC
7       16493      17078              8         ELEC
8        7770       9156              4         ELEC
9        9156      10238              4         ELEC
10       5417       5591              4         ELEC
11      10780      11408              4         ELEC
12      11408      12294              4         ELEC
13      13983      14130              4         ELEC
14      14384      14483              4         ELEC
15      14483      14624              4         ELEC
16      14849      15066              4         ELEC
17      10488      10780              4         ELEC
18       7273       7770              4         ELEC
19      14264      14302              2         ELEC
20       6761       7039              4         ELEC
21       7039       7273              4         ELEC
22       3685       3809              4         ELEC
23       3809       3950              4         ELEC
24       3950       4112              4         ELEC
25       4112       4271              4         ELEC
26       4453       4693              4         ELEC
27       4693       4969              4         ELEC
28       4271       4453              4         ELEC
29       5246       5417              4         ELEC
30       5591       5906              4         ELEC
31       5906       6218              4         ELEC
32       6218       6485              4         ELEC
33       6485       6761              4         ELEC
34       4969       5246              4         ELEC
Records for client 'train_Client_0' using query method:
         client_id invoice_date  tarif_type  counter_number counter_statue  \
0   train_Client_0   2014-03-24          11       1335667.0              0
1   train_Client_0   2013-03-29          11       1335667.0              0
2   train_Client_0   2015-03-23          11       1335667.0              0
3   train_Client_0   2015-07-13          11       1335667.0              0
4   train_Client_0   2016-11-17          11       1335667.0              0
5   train_Client_0   2017-07-17          11       1335667.0              0
6   train_Client_0   2018-12-07          11       1335667.0              0
7   train_Client_0   2019-03-19          11       1335667.0              0
8   train_Client_0   2011-07-22          11       1335667.0              0
9   train_Client_0   2011-11-22          11       1335667.0              0
10  train_Client_0   2008-11-25          11       1335667.0              0
11  train_Client_0   2012-07-23          11       1335667.0              0
12  train_Client_0   2012-11-29          11       1335667.0              0
13  train_Client_0   2013-07-22          11       1335667.0              0
14  train_Client_0   2014-07-18          11       1335667.0              0
15  train_Client_0   2014-11-24          11       1335667.0              0
16  train_Client_0   2015-11-18          11       1335667.0              0
17  train_Client_0   2012-03-27          11       1335667.0              0
18  train_Client_0   2011-03-30          11       1335667.0              0
19  train_Client_0   2013-02-12          11       1335667.0              0
20  train_Client_0   2010-07-22          11       1335667.0              0
21  train_Client_0   2010-11-24          11       1335667.0              0
22  train_Client_0   2005-10-17          11       1335667.0              0
23  train_Client_0   2006-02-24          11       1335667.0              0
24  train_Client_0   2006-06-23          11       1335667.0              0
25  train_Client_0   2006-10-18          11       1335667.0              0
26  train_Client_0   2007-06-27          11       1335667.0              0
27  train_Client_0   2007-10-25          11       1335667.0              0
28  train_Client_0   2007-02-26          11       1335667.0              0
29  train_Client_0   2008-07-28          11       1335667.0              0
30  train_Client_0   2009-01-04          11       1335667.0              0
31  train_Client_0   2009-07-27          11       1335667.0              0
32  train_Client_0   2009-11-24          11       1335667.0              0
33  train_Client_0   2010-03-29          11       1335667.0              0
34  train_Client_0   2008-01-04          11       1335667.0              0

    counter_code  reading_remarque  counter_coefficient  consommation_level_1  \
0            203               8.0                    1                    82
1            203               6.0                    1                  1200
2            203               8.0                    1                   123
3            207               8.0                    1                   102
4            207               9.0                    1                   572
5            207               9.0                    1                   314
6            207               9.0                    1                   541
7            207               9.0                    1                   585
8            203               9.0                    1                  1200
9            203               6.0                    1                  1082
10           203               6.0                    1                   174
11           203               6.0                    1                   628
12           203               6.0                    1                   886
13           203               8.0                    1                   147
14           203               8.0                    1                    99
15           203               8.0                    1                   141
16           207               9.0                    1                   217
17           203               8.0                    1                   292
18           203               6.0                    1                   497
19           203               8.0                    1                    38
20           203               6.0                    1                   278
21           203               6.0                    1                   234
22           203               6.0                    1                   124
23           203               6.0                    1                   141
24           203               6.0                    1                   162
25           203               6.0                    1                   159
26           203               6.0                    1                   240
27           203               6.0                    1                   276
28           203               6.0                    1                   182
29           203               6.0                    1                   171
30           203               6.0                    1                   315
31           203               6.0                    1                   312
32           203               6.0                    1                   267
33           203               6.0                    1                   276
34           203               6.0                    1                   277

    consommation_level_2  consommation_level_3  consommation_level_4  \
0                      0                     0                     0
1                    184                     0                     0
2                      0                     0                     0
3                      0                     0                     0
4                      0                     0                     0
5                      0                     0                     0
6                      0                     0                     0
7                      0                     0                     0
8                    186                     0                     0
9                      0                     0                     0
10                     0                     0                     0
11                     0                     0                     0
12                     0                     0                     0
13                     0                     0                     0
14                     0                     0                     0
15                     0                     0                     0
16                     0                     0                     0
17                     0                     0                     0
18                     0                     0                     0
19                     0                     0                     0
20                     0                     0                     0
21                     0                     0                     0
22                     0                     0                     0
23                     0                     0                     0
24                     0                     0                     0
25                     0                     0                     0
26                     0                     0                     0
27                     0                     0                     0
28                     0                     0                     0
29                     0                     0                     0
30                     0                     0                     0
31                     0                     0                     0
32                     0                     0                     0
33                     0                     0                     0
34                     0                     0                     0

    old_index  new_index  months_number counter_type
0       14302      14384              4         ELEC
1       12294      13678              4         ELEC
2       14624      14747              4         ELEC
3       14747      14849              4         ELEC
4       15066      15638             12         ELEC
5       15638      15952              8         ELEC
6       15952      16493             12         ELEC
7       16493      17078              8         ELEC
8        7770       9156              4         ELEC
9        9156      10238              4         ELEC
10       5417       5591              4         ELEC
11      10780      11408              4         ELEC
12      11408      12294              4         ELEC
13      13983      14130              4         ELEC
14      14384      14483              4         ELEC
15      14483      14624              4         ELEC
16      14849      15066              4         ELEC
17      10488      10780              4         ELEC
18       7273       7770              4         ELEC
19      14264      14302              2         ELEC
20       6761       7039              4         ELEC
21       7039       7273              4         ELEC
22       3685       3809              4         ELEC
23       3809       3950              4         ELEC
24       3950       4112              4         ELEC
25       4112       4271              4         ELEC
26       4453       4693              4         ELEC
27       4693       4969              4         ELEC
28       4271       4453              4         ELEC
29       5246       5417              4         ELEC
30       5591       5906              4         ELEC
31       5906       6218              4         ELEC
32       6218       6485              4         ELEC
33       6485       6761              4         ELEC
34       4969       5246              4         ELEC

In [41]:
# Transform the 'counter_type' feature to a numeric variable
label_encoder = LabelEncoder()
df['counter_type'] = label_encoder.fit_transform(df['counter_type'])

print(df['counter_type'].head())

0    0
1    0
2    0
3    0
4    0
Name: counter_type, dtype: int64

In [42]:
# Delete the 'counter_statue' column
df.drop(columns=['counter_statue'], inplace=True)

print(df.head())

        client_id invoice_date  tarif_type  counter_number  counter_code  \
0  train_Client_0   2014-03-24          11       1335667.0           203
1  train_Client_0   2013-03-29          11       1335667.0           203
2  train_Client_0   2015-03-23          11       1335667.0           203
3  train_Client_0   2015-07-13          11       1335667.0           207
4  train_Client_0   2016-11-17          11       1335667.0           207

   reading_remarque  counter_coefficient  consommation_level_1  \
0               8.0                    1                    82
1               6.0                    1                  1200
2               8.0                    1                   123
3               8.0                    1                   102
4               9.0                    1                   572

   consommation_level_2  consommation_level_3  consommation_level_4  \
0                     0                     0                     0
1                   184                     0                     0
2                     0                     0                     0
3                     0                     0                     0
4                     0                     0                     0

   old_index  new_index  months_number  counter_type
0      14302      14384              4             0
1      12294      13678              4             0
2      14624      14747              4             0
3      14747      14849              4             0
4      15066      15638             12             0