<a href="https://colab.research.google.com/github/s0ku00/DTS/blob/main/Dataframe_Filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

data = {'Name': ['John', 'Mary', 'Bob', 'Sarah', 'Tom', 'Lisa'],
        'Department': ['IT', 'Marketing', 'Sales', 'IT', 'Finance', 'Marketing'],
        'Age': [30, 40, 25, 35, 45, 28],
        'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
        'Salary': [50000, 60000, 45000, 55000, 70000, 55000],
        'Experience': [3, 7, 2, 5, 10, 4]}

employee_df = pd.DataFrame(data)
print(employee_df)

    Name Department  Age  Gender  Salary  Experience
0   John         IT   30    Male   50000           3
1   Mary  Marketing   40  Female   60000           7
2    Bob      Sales   25    Male   45000           2
3  Sarah         IT   35  Female   55000           5
4    Tom    Finance   45    Male   70000          10
5   Lisa  Marketing   28  Female   55000           4

In [3]:
# Select the first 3 rows
first_3_rows = employee_df.iloc[:3]
print("First 3 rows:")
print(first_3_rows)

First 3 rows:
   Name Department  Age  Gender  Salary  Experience
0  John         IT   30    Male   50000           3
1  Mary  Marketing   40  Female   60000           7
2   Bob      Sales   25    Male   45000           2

In [14]:
# All rows where the Department is "Marketing"
dept_marketing = employee_df.loc[employee_df['Department'] == 'Marketing']
print("Rows where Department is Marketing:")
print(dept_marketing)

Rows where Department is Marketing:
   Name Department  Age  Gender  Salary  Experience
1  Mary  Marketing   40  Female   60000           7
5  Lisa  Marketing   28  Female   55000           4

In [11]:
# Age and Gender columns for the first 4 rows
age_gender = employee_df.iloc[:4, [2, 3]]
print("Age and Gender for first 4 rows:")
print(age_gender_first_4)

Age and Gender for first 4 rows:
   Age  Gender
0   30    Male
1   40  Female
2   25    Male
3   35  Female

In [13]:
# Salary and Experience columns for all rows where Gender is "Male"
male_employee_info = employee_df.loc[employee_df['Gender'] == 'Male', ['Salary', 'Experience']]
print("Salary and Experience for Male employees:")
print(male_employee_info)

Salary and Experience for Male employees:
   Salary  Experience
0   50000           3
2   45000           2
4   70000          10